.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.TodoListsContainer {
  background-color: gold;
  background-color: #dcd0c0;
  min-width: 360px;
  min-height: 500px;
  width: 80%;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TodoList {
  background-color: #449c73;
  border-radius: 3px;
  width: 80%;
  max-width: 512px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
  display: flex;
}

.TransparentTextInput input {
  font-weight: bold;
  border: none;
  background: transparent;
  color: currentColor;
}

.TodoList button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.TodoList__delete-button {
  margin-left: auto;
}
